<div id="parent">
    <button class="btn btn-1" id="btn-add" type="button" (click)="redirectAddRecipe()">Ajouter une recette</button>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" id="list">
        <ul class="list-group">
            <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" (modifyEvent)="redirectModif($event)" class="list-group-item"></app-recipe-item>
        </ul>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
