<div id = "main" *ngIf="recipe">
    {{ recipe.name }}
    <button (click)="download()" class="btn btn-1">Télécharger le pdf</button>
    <button class="btn btn-danger" id="delete" (click)="delete()">Supprimer</button>
    <button class="btn btn-1" id="modif" (click)="modify()">Modifier</button>
    <button class="btn btn-1" style="margin-right: 20px;" (click)="displayApercuClicked()">
        <div *ngIf="displayApercu">Fermer aperçu</div>    
        <div *ngIf="!displayApercu">Afficher aperçu</div>
    </button>
    <br><br>
    <div *ngIf="confirmDelete" style="display: inline">
        <button id="annuler" (click)="this.confirmDelete = false">Annuler</button>
        <p style="float: right;" class="alert alert-danger">Êtes-vous sûr de vouloir supprimer cet ingédient ? Cette action est irreversible</p>
    </div>
    <div id = "pdf" [ngClass]="{hide : !this.displayApercu}">
        <div id = title>FICHE TECHNIQUE</div>
        <div id = leftPart>
            <div id = subtitle class = "full">INTITULE</div>
            <div id = text class = "full italic mintext">{{recipe.name}}</div>
            <div id = subtitle class = "half">DENREES</div>
            <div id = subtitle class = "twenty">UNITES</div>
            <div id = subtitle class = "thirty">QUANTITES</div>
            <div id = text class = "half minsize">
                <div *ngIf="recipe.progression">
                    <ul *ngFor="let stage of recipe.progression.stages">
                        <div *ngIf="stage.ingredients" class="bold">{{stage.title}}</div>
                        <li *ngFor="let ingredient of stage.ingredients">
                            <div *ngIf="ingredient.ingredient">{{ingredient.ingredient.name}}</div>
                        </li>
                    </ul>
                </div>
            </div> 
            <div id = text class = "twenty minsize">
                <div *ngIf="recipe.progression">
                    <div *ngFor="let stage of recipe.progression.stages">
                        <div *ngIf="stage.ingredients"><br><br></div>
                        <div *ngFor="let ingredient of stage.ingredients">
                            <div *ngIf="ingredient.ingredient">{{ingredient.ingredient.unit}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id = text class = "thirty minsize">
                <div *ngIf="recipe.progression">
                    <div *ngFor="let stage of recipe.progression.stages">
                        <div *ngIf="stage.ingredients"><br><br></div>
                        <div *ngFor="let ingredient of stage.ingredients">
                            <div *ngIf="ingredient.ingredient">{{ingredient.quantity}}</div>
                        </div>
                    </div>
                </div>
            </div>   
            <div id = subtitle class = "full">MATERIELS SPECIFIQUES</div>
            <div id = text class = "full minsize"></div>
        </div>
        <div id = middlePart></div>
        <div id = rightPart>
            <div id = subtitle class = "half">RESPONSABLE</div>
            <div id = subtitle class = "half">NBRE DE COUVERTS</div>
            <div id = text class = "half mintext">{{recipe.author}}</div> 
            <div id = text class = "half bold mintext">{{recipe.covers}}</div>
            <div id = subtitle class = "fifteen">N° PHASE</div>
            <div id = subtitle class = "seventy">TECHNIQUES DE REALISATION</div>
            <div id = subtitle class = "fifteen">DUREE</div>
            <div id = text class = "fifteen minsize">
                <div *ngIf="recipe.progression">
                    <div *ngFor="let stage of recipe.progression.stages" class="bold">
                        {{stage.phase}}
                        <div *ngIf="stage.description"><br><br></div>
                    </div>
                </div>
            </div> 
            <div id = text class = "seventy minsize">
                <div *ngIf="recipe.progression">
                    <div *ngFor="let stage of recipe.progression.stages">
                        <div class="bold">{{stage.title}}</div>
                            {{stage.description}}
                    </div>
                </div>
            </div>
            <div id = text class = "fifteen minsize">
                <div *ngIf="recipe.progression">
                    <div *ngFor="let stage of recipe.progression.stages">
                        {{stage.duration}}'
                        <div *ngIf="stage.description"><br><br></div>
                    </div>
                </div>
            </div>
            <div id = subtitle class = "full">MATERIELS DE DRESSAGE</div>
            <div id = text class = "full minsize"></div>
        </div>
    </div>
</div>