.btn-1 {
    border: rgb(96, 180, 207);
    position: relative;
    float: right;
}

.btn {
    opacity: 90%;
}

#pdf {
    margin: 0 auto;
    width: 90%;
    border : 0.5px solid black;
    overflow :auto;
}

#title {
    text-align: center;
    background-color: rgb(161, 161, 161);
    border : 0.5px solid black;
    font-weight : bold;
}

#leftPart {
    float: left;
    width : 43%;
    border-right : 1px solid black;

}

#rightPart {
    float: right;
    width : 55%;
    border-left : 1px solid black;
}

#middlePart {
    float: left;
    width : 2%;
    border-top : 0.5px solid black;
}

#subtitle {
    text-align: center;
    background-color: rgb(161, 161, 161);
    border : 0.5px solid black;
    font-weight : bold;
    font-size: 75%;
    float : left;
}

#text {
    text-align: center;
    border : 0.5px solid black;
    font-size: 75%;
    float : left;
}

.full {
    width : 100%;
}

.half {
    width : 50%;
}

.seventy {
    width : 70%;
}

.fifteen {
    width : 15%;
}

.twenty {
    width : 20%;
}

.thirty {
    width : 30%;
}

.minsize {
    min-height : 150px;
}

.mintext {
    min-height : 20px;
}

.bold {
    font-style: bold;
}

.italic {
    font-style: italic;
}

.hide {
    display: none;
}

@media (width <= 700px) {
    button {
        font-size: smaller;
    }
}

#modif, #delete {
    float: right;
    margin-right: 20px; 
}

#modif {
    background-color: rgb(35, 115, 219);
}

#modif:hover {
    background-color: rgb(30, 99, 189);
}

#annuler {
    float: right;
    color: blue;
    border: none;
    background: none;
    margin-top: 2%;
}
