<div class="card" *ngIf="stage" id="stage">
    <h4 *ngIf="stage && !isModify">Modifier l'étape</h4>
    
    <div>
        Etape {{ index }} - <div style="font-size: larger;"></div>
        <h5>
            {{ stage.title }}
        </h5>
        <div *ngIf="stage.description">
            {{ stage.description }}
        </div>
        <div *ngIf="!stage.description" style="font-style: italic; font-size: small;">
            Pas de description pour cette étape
        </div>
        <button class="btn btn-1" (click)="selectToModify()">Modifier</button>
        <button class="btn btn-danger" id="delete" (click)="delete()">Supprimer</button>
    </div>
</div>

<!-- Formulaire d'ajout d'étape -->
<div *ngIf="!stage || isModify" class="card">
    <h4 *ngIf="!stage">Ajout d'une étape</h4>
    <form class="row g-3" [formGroup]="stageGroup" (ngSubmit)="submit()">
        <div class="col-md-3" style="position: rigth;">
            <label for="title" class="form-label">Nom de l'étape</label>
            <input type="text" class="form-control" formControlName="title" required>
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description (optionnelle)</label>
            <textarea class="form-control" formControlName="description"></textarea>
        </div>
        <div class="row">   
            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    <!--<div *ngIf="!stage">Ajouter</div>-->
                    <!--<div *ngIf="stage">Modifier</div>-->
                    {{ labelButton }}
                </button>
                <button class="btn btn-cancel" id="cancel" (click)="cancel()">Annuler</button>
            </div>
        </div>
    </form>
</div>