#container {
    min-height: 50em;
    width: 100%;
    margin: 0;
    text-align : center;
    color : white;
    display: grid;
    place-content: center;
}

h1 {
    font-size: 350%;
}

p {
    font-size: 120%;
}