<form class="row g-3 card" [formGroup]="recipeGroup" (ngSubmit)="submit()">
    <h2 *ngIf="recipe">Modifier la recette</h2>
    <h2 *ngIf="!recipe">Ajout d'une recette</h2>
    <div class="row">

        <div class="col-md-4">
            <label for="name" class="form-label">Intitulé</label>
            <input type="text" class="form-control" formControlName="name" required> 
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="position: rigth;">
            <label for="author" class="form-label">Responsable</label>
            <input type="text" class="form-control" formControlName="author">
        </div>
        <div class="col-md-3">
            <label for="nbPlates" class="form-label">Nombre de couverts</label>
            <input type="number" class="form-control" formControlName="covers">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="category" class="form-label">Type</label>
            <select class="form-select" formControlName="category">
                <option disabled>Choisir...</option>
                <option *ngFor="let type of types" [selected]="this.categorySelected == type">{{ type }}</option>
            </select>
        </div>
    </div>

    <div id="progression">
        <br>
        <br>
        <h3>Progression</h3>
        <br>
        <app-stage-form *ngIf="isNewStageVisible" (addStageEvent)="addStage($event)" (cancelEvent)="hideNewStage()"></app-stage-form>
        <app-stage-form *ngFor="let stage of stages" (modifStageEvent)="modifStage($event)" (deleteStageEvent)="deleteStage($event)" [stage]="stage" [index]="stages.indexOf(stage)"></app-stage-form>

        <button class="btn btn-1" id="btn-add" type="button" (click)="displayNewStage()">Ajouter une étape</button>
    </div>
    <div class="row">   
        <div class="col-12">
            <button type="submit" class="btn btn-primary">
                <div *ngIf="!recipe">Ajouter la recette</div>
                <div *ngIf="recipe">Modifier la recette</div>
            </button>
            <button class="btn btn-cancel" id="cancel" (click)="cancel()">Annuler</button>
        </div>
    </div>
</form>
