.container {
    width: 80%;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
}

#btn-add {
    opacity: 98%;
    margin-top: 20px;
}

form {
    padding: 30px;
}

.row {
    margin-top: 40px;
}

#cancel {
    margin-left: 20px;
}


